<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryAlive"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StoryActivity"
            android:exported="false"
            android:label="@string/title_activity_story"
            android:theme="@style/Theme.StoryAlive" />
        <activity
            android:name=".VoiceActorActivity"
            android:exported="false"
            android:label="@string/title_activity_voice_actor"
            android:theme="@style/Theme.StoryAlive" />
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.StoryAlive" />
        <activity
            android:name=".PublishedActivity"
            android:exported="false"
            android:label="@string/title_activity_published"
            android:theme="@style/Theme.StoryAlive" />
        <activity
            android:name=".privateStoriesActivity"
            android:exported="false"
            android:label="@string/title_activity_private_stories"
            android:theme="@style/Theme.StoryAlive">

        </activity>
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.StoryAlive">

        </activity>
        <activity
            android:name=".FavoriteStoriesActivity"
            android:exported="false"
            android:label="@string/title_activity_favorite_stories"
            android:theme="@style/Theme.StoryAlive">

        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.StoryAlive">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.StoryAlive" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.StoryAlive">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoryAlive">
        </activity>
    </application>

</manifest>